div{
    border: none;
    background-color: purple;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.box{
    border: 3px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.divRow{ 
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;  
    flex: 1;
}

.divElement{
    background-color: purple;
    /* border: 1px solid black;  */
    flex: 1;   
}

.divElementHover{
    background-color: white;
    flex: 1; 
}