body{
    border: none;
    cursor: default;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.box{
    border: 3px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.divRow{ 
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;  
    flex: 1;
    cursor: default;
}

.divElement{
    background-color: white;
    /* border: 1px solid black;  */
    flex: 1;
    cursor: default;   
}

.divElementHover{
    background-color: black;
    flex: 1;
    cursor: default; 
}

.toRGB{
    flex:1;
    cursor: default;
    /* background-color: purple; */
}

button{
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}